/* This is my css file */
h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1.text{
    text-transform: uppercase;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: italic;
}
p.text{
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    
}
 